

<div class="layout">
  <!-- NAVBAR -->
  <header class="navbar">
    <div class="navbar-left">
      <button class="menu-btn" (click)="toggleSidebar()">☰</button>
      <img src="../assets/new-styles/logoPNG.png" alt="Avla" class="logo" />
    </div>

    <div class="navbar-right">
      <button class="icon-btn">
        <img src="../assets/new-styles/icons/navbar/settings.svg" alt="">
      </button>
      <div class="title-User">
      <span class="company">Test SA</span>
      <span class="user">{{this.userName}}</span>
      </div>
     <button class="icon-btn" (click)="logOut()">
          <img src="../assets/new-styles/icons/navbar/logout.svg" alt="">
      </button>

    </div>
  </header>

  <!-- CONTENEDOR PRINCIPAL -->
  <div class="main" [class.sidebar-collapsed]="collapsed">
    <!-- SIDEBAR -->
    <aside class="sidebar" [class.collapsed]="collapsed">
      <ul>
        <li routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="['']"
            (click)="onNavLinkClick()">
          <i class="icon">
            <img class="back"
                 src="../assets/new-styles/icons/sidebar/home-icon.svg"
                 alt="" />
          </i>
          <span *ngIf="!collapsed || isMobile">{{'IP.FILTERS_MODAL.START'|translate}}</span>
        </li>
        
        <li routerLinkActive="active"
            [routerLink]="['sales-list']"
            (click)="onNavLinkClick()">
          <i class="icon">
            <img class="back"
                 src="../assets/icons/payments.svg"
                 alt="" />
          </i>     
          <span *ngIf="!collapsed || isMobile">{{'IP.SIDENAV.OPTIONS.SALES'|translate}}</span>
        </li>
        
        <li routerLinkActive="active"
            [routerLink]="['revenues-list']"
            (click)="onNavLinkClick()">
          <i class="icon">
            <img class="back"
                 src="../assets/icons/pay_in.svg"
                 alt="" />
          </i>           
          <span *ngIf="!collapsed || isMobile">{{'IP.SIDENAV.OPTIONS.PAY_IN'|translate}}</span>
        </li>
        
        <li routerLinkActive="active"
            [routerLink]="['suppliers-list']"
            (click)="onNavLinkClick()">
          <i class="icon">
            <img class="back"
                 src="../assets/new-styles/icons/sidebar/invoices-icon.svg"
                 alt=""/>
          </i>           
          <span *ngIf="!collapsed || isMobile">{{'IP.LOGIN.SUPPLIER'|translate}}</span>
        </li>
      
        <li routerLinkActive="active"
            [routerLink]="['assurance/pending-sales-list']"
            (click)="onNavLinkClick()">
          <i class="icon">
            <img class="back"
                 src="../assets/new-styles/icons/sidebar/invoices-icon.svg"
                 alt=""/>
          </i>           
          <span *ngIf="!collapsed || isMobile">Ventas a cobrar pendientes</span>

        </li>
        <li routerLinkActive="active"
            [routerLink]="['assurance/expiry-sales-list']"
            (click)="onNavLinkClick()">
          <i class="icon">
            <img class="back"
                 src="../assets/new-styles/icons/sidebar/invoices-icon.svg"
                 alt=""/>
          </i>           
          <span *ngIf="!collapsed || isMobile">Ventas a cobrar vencidas</span>
        </li>

        


        
      </ul>
    </aside>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>