<div class="layout">
  <!-- NAVBAR -->
  <header class="navbar">
    <div class="navbar-left">
      <button class="menu-btn" (click)="toggleSidebar()">☰</button>
      <img src="../assets/new-styles/logo.svg" alt="Avla" class="logo" />
    </div>

    <div class="navbar-right">
      <span class="company">Test SA</span>
      <span class="user">Emanuel</span>
      <button class="icon-btn">⚙️</button>
      <button class="icon-btn">↩️</button>
    </div>
  </header>

  <!-- CONTENEDOR PRINCIPAL -->
  <div class="main" [class.sidebar-collapsed]="collapsed">
    <!-- SIDEBAR -->
    <aside class="sidebar" [class.collapsed]="collapsed">
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
           [routerLink]="['']">
            <i class="icon">🏠</i>
            <span *ngIf="!collapsed">Inicio</span>
        </li>

        <li routerLinkActive="active"
           [routerLink]="['sales-list']">
            <i class="icon">💰</i>
            <span *ngIf="!collapsed">Recaudaciones</span>
        </li>

        <li routerLinkActive="active"
          [routerLink]="['library/base']">
            <i class="icon">💸</i>
            <span *ngIf="!collapsed">Comisiones</span>
        </li>
      </ul>
    </aside>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>