<form >
<app-title-page 
[title]="title"
[showBackButton]="true"
(backButtonClick)="onBackButtonClick()"
></app-title-page>


<div  class="card-container">
    
  <div  class="card">
    <div class="card-header">
      <span class="card-title">Información general</span>
    </div>
    <div class="card-body">
      <div class="inner-card">
        <label>Fecha de venta</label>
        <span>{{dataShow.saleDate}}</span>
      </div>
      <div class="inner-card">
        <label>Producto</label>
        <span>{{dataShow.productName}}</span>
      </div>
      <div class="inner-card">
        <label>Número de póliza</label>
        <span>{{dataShow.policyNumber}}</span>
      </div>
      <div class="inner-card">
        <label>Valor de póliza</label>
        <span>{{dataShow.policyValue}}</span>
      </div>
      <div class="inner-card">
        <label>Valor de prima</label>
        <span>{{dataShow.premiumValue}}</span>
      </div>
      <div class="inner-card">
        <label>Comisión broker</label>
        <span> {{dataShow.brokerCommissionPercent}}</span>
      </div>
      <div class="inner-card">
        <label>Comisión broker</label>
        <span>{{dataShow.brokerCommissionARS}} </span>
      </div>
      <div class="inner-card">
        <label>Cantidad de pagos</label>
        <span>{{dataShow.premiumInstallments}}</span>
      </div>
    </div>
  </div>
</div>


<div class="card-container" >
  <div  class="card">
    <div class="card-header">
      <span class="card-title">Información del cliente</span>
    </div>
    <div class="card-body">
      <div class="inner-card">
        <label>Nombre</label>
        <span>{{dataShow.customerName}}</span>
      </div>
      <div class="inner-card">
        <label>Email</label>
        <span>{{dataShow.customerEmail}}</span>
      </div>
      <div class="inner-card">
        <label>Telefono</label>
        <span>{{dataShow.customerPhone}}</span>
      </div>
      
    </div>
  </div>
</div>

<div class="card-container" >
      <div *ngIf="!isMobile" class="card-2">
        <div class="card-header">
          <span class="card-title">Plan de pago</span>
        </div>
                        <app-table
                        [keyTranslate]="''"
                        [propertyOrder]="columnsHeaders"
                        [data]="dataShow.installmentPlan"
                        [actions]="[]"
                        [tableStyle]="'invopay'"
                        [isForSelectItem]="false"
                        [scroll]="true"
                        [keyTranslate]="''"
                        [titlesFile]="titlesMap"
                    ></app-table>
                <app-no-data *ngIf="dataShow.installmentPlan.length<1"></app-no-data>
          
      </div>
      <div *ngIf="isMobile" class="card-2">
        <div class="card-header">
          <span class="card-title">Plan de pago</span>
        </div>
               <div  class="card-mobile">
                  <div   class="payment-card-mobile-container" *ngFor="let item of dataShow.installmentPlan; let i = index">
                      <div class="payment-card-mobile-data">
                      <div class="card-header-mobile">
                      <span class="card-id-mobile">Cuota # {{ item.number }}</span>
                      </div>
                      <div class="card-body-mobile">
                      <div class="info-row-mobile">
                          <span class="info-label-mobile">Valor Pago</span>
                          <span class="info-value-mobile">{{ item.amount }}</span>
                      </div>
                      <div class="info-row-mobile">
                          <span class="info-label-mobile">Vencimiento</span>
                          <span class="info-value-mobile"
                          >{{item.dueDate}}</span>
                      </div>
                      <div class="info-row-mobile">
                          <span class="info-label-mobile">Estado</span>
                          <span class="info-value-mobile"
                          >{{item.state}}</span>
                      </div>
                      <div class="info-row-mobile">
                        <span class="info-label-mobile">Comisión broker</span>
                        <span class="info-value-mobile"
                        >{{item.commissionValue}} </span>
                      </div> 
                      <div class="info-row-mobile">
                        <span class="info-label-mobile">Fecha pago</span>
                        <span class="info-value-mobile"
                        >{{item.paymentDate}} </span>
                      </div> 

                      </div>
                  </div>
                  <app-no-data *ngIf="dataShow.installmentPlan.length < 1"></app-no-data>
                  </div>
              </div> 

              
      </div>
</div>
  

</form>

